:root {
    --primario: #332e38;
    --secundario: #0d0d69;
    --azul: #004698;
    --morado: #a6ade0;
    --blanco: #ffffff;
    --dorado: #FFD700;

    --uno: #55809e;
    --dos: #90a4bc;
    --tres: #dbd2e7;
    --cuatro: #efe6ef;
    --cinco: #f9f7f9;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*para entandarizar el REM*/
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    /* background-color:blue; */
}

img {
    display: block;
    max-width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100svh;
    padding: 1rem;
    width: 100%;
    /* background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4)); */
    z-index: 1000;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4));
    z-index: 0;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: contrast(125%) brightness(100%);

}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 2000;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    /* blanco muy transparente */
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    color: white;
    transition: right 0.4s ease;
}

.logo a {
    text-decoration: none;
    color: #efe6ef;
    font-size: 1.4rem;
    font-weight: 700;
}

.hero-content {
    color: rgb(80, 159, 135);
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    font-size: 4rem;
    font-weight: 700;
    /* blanco muy transparente */
    color: white;
    transition: all 0.4s ease;
}

.hero-content h1:hover {
    color: transparent;
    /* El relleno desaparece */
    -webkit-text-stroke: 1px white;
    /* Contorno blanco */
}

.contact-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    font-size: 2rem;
    transform: scale(1.05);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.overlay.visible {
    opacity: 1;
    pointer-events: all;
}

/*boton hamburguesa*/
.menu-hamburguesa {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding: 2rem;
    z-index: 1001;
}

.menu-hamburguesa .bar {
    width: 2.5rem;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

/*Animacion para x del menu*/
.menu-hamburguesa.open .top {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-hamburguesa.open .middle {
    opacity: 0;
}

.menu-hamburguesa.open .bottom {
    transform: rotate(-45deg) translate(9px, -9px);
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100vh;
    color: white;
    padding: 2rem;
    transition: right 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(54, 54, 24);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    /* blanco muy transparente */
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    color: white;
    transition: right 0.4s ease;
}

/* Cuando se abre */
.menu-lateral.open {
    right: 0;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral li {
    margin-bottom: 1rem;
    margin-bottom: 7rem;
}

.menu-lateral a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 2rem;
    transition: all 0.4s ease;
}

.menu-lateral a:hover {
    color: var(--primario);
    background-color: var(--cinco);
}

/*Header para tabletas*/
@media (min-width: 768px) {
    .hero-content h1 {
        font-size: 5rem;
    }

    .logo {
        width: 50%;
    }

    .logo a {
        font-size: 1.8rem;
        padding-left: 7%;
    }

    .contact-btn {
        font-size: 2.5rem;
    }

    .contact-btn:hover {
        font-size: 3rem;
        transform: scale(1.05);
    }
}

/*Header para laptops*/
@media (min-width: 1024px) {
    .hero-content h1 {
        font-size: 6rem;
    }

    .contact-btn {
        font-size: 3.5rem;
    }

    .contact-btn:hover {
        font-size: 4rem;
        transform: scale(1.05);
    }

    .logo a {
        font-size: 2rem;
    }

    .menu-hamburguesa {
        display: none;
    }

    .menu-lateral {
        right: 0;
        width: 50%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        color: black;
        z-index: 2000;
    }

    .menu-lateral ul {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: center;
    }

    .menu-lateral li {
        margin-bottom: 0;
    }

    .menu-lateral a {
        font-size: 2rem;
        color: var(--blanco);
    }

    .menu-lateral a:hover {
        padding: 1rem 2rem;
    }
}

.main {
    width: 100%;
}

.servicios {
    padding: 4rem 0;
    background-color: var(--secundario);
}

.servicios-titulo {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    color: var(--blanco);
    margin: 4.5rem;


}

.tarjeta {
    width: 80%;
    margin: 5.5rem auto;
    padding: 2.5rem 0;
    border-radius: 1.5rem;
    color: #071020;
    background-image: -webkit-image-set(url("../img/dorado.avif") type("image/avif"),
            url("../img/dorado.png") type("image/png"));

    background-image: image-set(url("../img/dorado.avif") type("image/avif"),
            url("../img/dorado.png") type("image/png"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px -1px 89px -15px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px -1px 89px -15px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px -1px 89px -15px rgba(0, 0, 0, 0.62);
    transition: all 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta-titulo {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    color: #000000;
}

.tarjeta-contenido {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem auto;
    line-height: 1.5;
    color: #ffffff;
}

.tarjeta-lista {
    font-size: 1.6rem;
    /* padding: 1rem 0 1rem 2.5rem;
    list-style: disc; */
    /* margin-left: 10%; */
    line-height: 1.3;
    text-align: center;
}

.tarjeta-subtitulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 0;
    color: #000000;
}

.tarjeta-lista li {
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    font-weight: 400;
    color: #fff;

}

.tarjeta-lista li:hover {
    background: -webkit-linear-gradient(90deg, #eab566, #ffc266, #ffce85);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #eab566, #ffc266, #ffce85);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
}

/*Servicios tabletas*/
@media (min-width: 768px) {
    .servicios {
        padding-bottom: 6rem;
    }

    .servicios-titulo {
        font-size: 4rem;
    }

    .tarjetas {
        display: grid;
        width: 85%;
        margin: 8rem auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;

    }

    .tarjeta {
        width: unset;
        margin: unset;
    }

    .tarjeta-titulo {
        font-size: 3rem;
    }

    .tarjeta-contenido {
        font-size: 2rem;
    }

    .tarjeta-subtitulo {
        font-size: 2.6rem;
    }

    .tarjeta-lista li {
        font-size: 2.2rem;
    }

    .tarjeta-lista li:hover {
        font-size: 2.3rem;
        font-weight: 600;
    }
}

/*Servicios pc*/
@media (min-width: 1200px) {
    .tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.nosotros {
    width: 100%;
    background-color: var(--primario);
    color: var(--blanco);
    padding: 7rem 0;
}

.nosotros-titulo {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700
}

.nosotros-contenido {
    max-width: 80%;
    margin: 0 auto;
    gap: 2rem;
    font-size: 1.8rem;
    padding-top: 2rem;
    text-align: center;
    line-height: 2;
}

/*Nosotros tabletas*/
@media (min-width: 768px) {
    .nosotros-titulo {
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    .nosotros-contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        font-size: 2rem;

    }

    .nosotros-contenido img {
        max-width: 50%;
        transition: all 0.3s ease-out;
    }

    .nosotros-contenido img:hover {
        transform: scale(1.1);
    }
}

/*Nosotros pc*/
@media (min-width: 1200px) {
    .nosotros-contenido p {
        max-width: 40%;
        line-height: 3;
    }

    .nosotros-contenido img {
        max-width: 35%;
        margin: unset;
    }
}

.contacto {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #e3e6e9;
    color: var(--blaco);
}

.contacto-titulo {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
}

.formulario {
    /* border: 1px solid black; */
    margin: 4rem auto;
    width: 75%;
    padding: 2rem;
    background-color: #ffffff;
    color: #004985;
    box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.4);

}

.formulario fieldset {
    border: none;
    margin-bottom: 1.5rem;
}

small {
    font-size: 1.2rem;
    color: #fd1f1f;
    font-weight: 700;
    display: none;
}

.formulario input {
    display: block;
    width: 90%;
}

.formulario legend {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: 700;
}

.formulario label {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
}

.formulario input,
.formulario select,
.formulario textarea,
.formulario button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.formulario textarea {
    resize: none;
    overflow: scroll;
    font-size: 1.6rem;
}

.formulario button {
    transition: all 0.3s ease;
    background-color: var(--secundario);
    color: var(--blanco);
    font-weight: 700;
    cursor: pointer;
}

.formulario button:hover {
    transform: scale(1.07);
    font-size: 1.6rem;
    background-color: #12d782;
}

/*Contacto para tabletas*/
@media (min-width: 768px) {
    .contacto-titulo {
        font-size: 4rem;
    }

    .formulario {
        width: 50%;
    }

    .formulario legend {
        font-size: 2.4rem;
    }

    .formulario label,
    .formulario textarea,
    .formulario button {
        font-size: 2rem;
    }

    .formulario input,
    .formulario select {
        font-size: 1.8rem;
    }

    .formulario button {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .formulario button:hover {
        font-size: 2rem;
    }
}

/*Contacto para pc*/
@media (min-width: 1200px) {
    .contacto-titulo {
        font-size: 5rem;
    }

    .formulario {
        width: 30%;
    }

    .formulario legend {
        font-size: 3.2rem;
    }

    .formulario label,
    .formulario textarea,
    .formulario button {
        font-size: 2.8rem;
    }

    .formulario input,
    .formulario select {
        font-size: 2.4rem;
    }

    .formulario button {
        display: block;
        /* width: 35%; */
        margin: 0 auto;
    }

    .formulario button:hover {
        font-size: 3rem;
    }
}

.footer {
    width: 100%;
    background-color: var(--secundario);
    padding: 2rem 0;

}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.redes .redes-icono {
    margin: 0 1rem;
    position: relative;
}

.redes .redes-icono .tooltip {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;

}

.redes .redes-icono:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -5rem;

}

.redes .redes-icono a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease;
}

.redes .redes-icono a:hover {
    box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
}

.redes .redes-icono a svg {
    position: relative;
    z-index: 1;
    width: 3rem;
    height: 3rem;
}

.redes .redes-icono a .icono-lleno {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.redes .redes-icono a:hover .icono-lleno {
    height: 100%;
}

.redes .redes-icono a[data-social="WhatsApp"] .icono-lleno,
.redes .redes-icono a[data-social="WhatsApp"]~.tooltip {
    background-color: #128c7e;
}

.redes .redes-icono a[data-social="Facebook"] .icono-lleno,
.redes .redes-icono a[data-social="Facebook"]~.tooltip {
    background-color: #1069bb;
}

.redes .redes-icono a[data-social="Instagram"] .icono-lleno,
.redes .redes-icono a[data-social="Instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.footer-parrafo {
    text-align: center;
    color: var(--blanco);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    padding-bottom: 2rem;
}